[Unit]
Description=Rust baseed prometheus exporter for 389ds
Wants=dirsrv@default.service
After=dirsrv@default.service
ConditionPathExists=/usr/bin/exporter-389ds-rs

[Service]
User=exporter-389ds-rs
Group=o11y-389ds-rs
ExecStart=/usr/bin/exporter-389ds-rs -c /etc/o11y-389ds-rs/default.toml

[Install]
WantedBy=multi-user.target

# vim: ft=systemd
